body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
  } 
  header{
    background-image: linear-gradient(to right, rgb(92, 103, 184), rgb(7, 20, 131));
    color: white;
    padding: 10px; 
  }  

  main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 10px;
  }   

  h1,
  h2,
  h3,
  h4
  {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;  
   }
  
  .custom-btn{
    background-color: cornflowerblue;
    border: none;
    outline: none;
    width: 100%;
    color: white;
  }

  .history-btn{
    background-color: cornflowerblue;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    display: block;
    margin: 3px;
    border-radius: 5px;
  }

  .uvStyle {
    color: white;
  }

  .card {
    background-color: rgb(54, 59, 104);
    color: white;
  }
  